# will hold 6 containers

version: "3.8"  # specify docker compose version

services:
  server: #nginx web server, if you search docker you'll find an official ngins
    image: "nginx:stable-alpine"  # slim & stable specify image to use - official nginx image from docker hub
    ports:
      - '8000:80'  # look at documentation, nginx defaults to port 80 map port 80 in container to port 8080 on host
    volumes: 
      - ./src:/var/www/html  # map source code into container, ro makes it readonly
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro  # map custom conf file into container

  php: #responsible for laravel and php server
    build: 
      context: ./dockerfiles
      dockerfile: php.dockerfile
    volumes:
      - ./src:/var/www/html:delegated  # map source code into container.  Delegated helps with performance, can run in batch
   #ports: not required because of local network
  mysql:
    image: 'mysql:latest'  # official mysql image from docker hub
    env_file:
      - ./env/mysql.env
  composer: #utility container to run composer commands 
    build: 
      context: ./dockerfiles
      dockerfile: composer.dockerfile
    volumes:
      - ./src:/var/www/html  # map source code into container
  
  #npm:
  #artisan:  #laravel artisan commands
